<div class="col-md-2">
  <h1 class="titulo-intro">Lista de usuarios naturales.</h1>
</div>

<div class="col-md-10">
  <%@user_list.each do |u|%>
    <%=link_to admin_files_user_create_background_path(id: u.id), class: "link-row" do%>
      <div class="linting-items">
        <span class="linting-items-name"><%=u.first_name%></span>
        <span class="linting-items-lastname"><%=u.last_name%></span>
        <span><%=u.rut%></span>
        <span><%=u.province.name%></span>
        <span><%=u.commune.name%></span>
      </div>
    <%end%>
  <%end%>
</div>
