<%= form_for(@milestone) do |f| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>
      <ul>
      <% @milestone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Descripcion" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Fecha Inicio" %><br>
    <%= f.date_select :date_begin %>
  </div>
  <div class="field">
    <%= f.label "Fecha Final" %><br>
    <%= f.date_select :date_end %>
  </div>


    <%= f.hidden_field :user_id, value: @user %>
    <%= f.hidden_field :asociative_user_id, value: @asociative_user %>

    <!-- reemplazar submit por un solo botón-->

  <div class="actions">
    <%= f.submit "Ingresar Hito", class: "create" %>
  </div>
<% end %>

<!-- FORMULARIO DE BENEFICIO REQUERIDO-->
