<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @milestone.date_begin %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @milestone.date_end %>
</p>

<p>
  <strong>User:</strong>
  <%= @milestone.user_id %>
</p>

<p>
  <strong>Asociative user:</strong>
  <%= @milestone.asociative_user_id %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
