<p id="notice"><%= notice %></p>

<h1>Listing Family Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Relationship type</th>
      <th>Activity</th>
      <th>Scholarship type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_groups.each do |family_group| %>
      <tr>
        <td><%= family_group.name %></td>
        <td><%= family_group.age %></td>
        <td><%= family_group.relationship_type_id %></td>
        <td><%= family_group.activity %></td>
        <td><%= family_group.scholarship_type_id %></td>
        <td><%= family_group.user_id %></td>
        <td><%= link_to 'Show', family_group %></td>
        <td><%= link_to 'Edit', edit_family_group_path(family_group) %></td>
        <td><%= link_to 'Destroy', family_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family group', new_family_group_path %>
