<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="header-cont">
            <div class="pull-left">
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.47 15.85"><defs><style>.cls-1{fill:#fff;}</style></defs><title>left</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M5.76,2.17.07,7.77a.22.22,0,0,0,0,.31l5.69,5.6A.13.13,0,0,0,6,13.6V10c0-.16-.07-.25-.22-.4L4.17,8c-.07-.07-.07-.11,0-.18L5.76,6.27C5.92,6.12,6,6,6,5.87V2.26a.13.13,0,0,0-.22-.09"/><path class="cls-1" d="M16.24,0,8.43,7.77a.22.22,0,0,0,0,.31l7.81,7.72a.13.13,0,0,0,.22-.09V12.1c0-.16-.07-.25-.22-.4L12.54,8c-.07-.07-.07-.11,0-.18l3.71-3.68c.16-.16.22-.25.22-.4V.14A.13.13,0,0,0,16.24,0"/></g></g></svg>
                volver
              <% end %>
            </div>
            <div class="pull-right">
              <div class="file-text">
                <h3>Grupo Familiar</h3>
                <p>Los integrantes de tu familia van aquí.</p>
              </div>
              <div class="file-count"><p>02</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Parentezco</th>
                <th>Actividad</th>
                <th>Escolaridad</th>
                <th>User</th>
              </tr>
            </thead>

            <tbody>
              <% @family_groups.each do |family_group| %>
                <tr>
                  <td><%= best_in_place family_group, :name, as: :input %></td>
                  <td><%= best_in_place family_group, :age, as: :input %></td>
                  <td><%= best_in_place family_group, :relationship_type_id, :type => :select, :collection => RelationshipType.all.map {|i|[i.id, i.name]}  %></td>
                  <td><%= best_in_place family_group, :activity, as: :input %></td>
                  <td><%= best_in_place family_group, :scholarship_type_id, :type => :select, :collection => ScholarshipType.all.map {|i|[i.id, i.name]}  %></td>
                  <td><%= best_in_place family_group, :user_id %></td>
                  <td class="destroy-table">
                    <%= link_to family_group, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><defs><style>.cls-1{fill:#fff;}</style></defs><title>erase</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="cls-1" points="14 2.8 11.2 0 7 4.2 2.8 0 0 2.8 4.2 7 0 11.2 2.8 14 7 9.8 11.2 14 14 11.2 9.8 7 14 2.8"/></g></g></svg>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to new_family_group_path, class: "create" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.plus{fill:#00b9b5;}</style></defs><title>plus</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="plus" points="12 4.5 7.5 4.5 7.5 0 4.5 0 4.5 4.5 0 4.5 0 7.5 4.5 7.5 4.5 12 7.5 12 7.5 7.5 12 7.5 12 4.5"/></g></g></svg>
            Agregar nuevo
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
