<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="file-text">
            <h3>Grupo Familiar</h3>
            <p>Los integrantes de tu familia van aquí.</p>
          </div>
          <div class="file-count">03</div>
        </div>
      </div>
      <div class="body-file">
        <div class="tr col-md-8 center">
          <div class="th">Name</div>
          <div class="th">Age</div>
          <div class="th">Relationship type</div>
          <div class="th">Activity</div>
          <div class="th">Scholarship type</div>
          <div class="th">User</div>
        </div>
        <ul class="inner-list col-md-8 center">
          <% @family_groups.each do |family_group| %>
            <li>
              <td><%= family_group.name %></td>
              <td><%= family_group.age %></td>
              <td><%= family_group.relationship_type_id %></td>
              <td><%= family_group.activity %></td>
              <td><%= family_group.scholarship_type_id %></td>
              <td><%= family_group.user_id %></td>
              <td><%= link_to 'Destroy', family_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </li>
          <% end %>
          <%= link_to 'New Family group', new_family_group_path %>
        </ul>
      </div>      
    </div>
  </div>
</div>

