<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">

    <%= link_to 'Volver', milestones_path %>
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="file-text">
            <h3>Beneficios Solicitados</h3>
          </div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center">
          <table>
            <thead>
              <tr>
                <th>Tipo Beneficio</th>
                <th>Inversión Solicitada</th>
                <th>Comentarios</th>
              </tr>
            </thead>

            <tbody>

                <tr>
                  <td><%= @benefit_requested.benefit_type.name %></td>
                  <td><%= @benefit_requested.estimated_investment %></td>
                  <td><%= @benefit_requested.comments %></td>

                </tr>
            </tbody>
          </table>
