<div class="row dashboard-row">
  <div class="col-md-5">
    <div class="record-date">
      <div class="title-record">
        <h3>DATOS DE REGISTRO</h3>
      </div>
      <ul class="record-list-link">
        <li>
          <%= link_to edit_user_registration_path do%>
            <div class="record-text">
              <h3>Tus cuenta de Registro</h3>
              <p>Tus datos de registro van aquí.</p>
            </div>
            <div class="record-count">01</div>
          <% end %>
        </li>
        <li>
          <%= link_to personal_backgrounds_path do%>
            <div class="record-text">
              <h3>Antecedentes Personales</h3>
              <p>Tus antecedentes personales van aquí.</p>
            </div>
            <div class="record-count">02</div>
          <% end %>
        </li>
        <li>
          <%= link_to family_groups_path do%>
            <div class="record-text">
              <h3>Grupo Familiar</h3>
              <p>Los integrantes de tu familia van aquí.</p>
            </div>
            <div class="record-count">03</div>
          <% end %>
        </li>
        <li>
          <%= link_to beneficiaries_path do%>
            <div class="record-text">
              <h3>Beneficiario</h3>
              <p>Los beneficios que has logrado.</p>
            </div>
            <div class="record-count">04</div>
          <% end %>
        </li>
        <li>
          <%= link_to characterization_works_path do%>
            <div class="record-text">
              <h3>Características de Faena</h3>
              <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="record-count">05</div>
          <% end %>
        </li>
         <li>
          <%= link_to pamma_participations_path do%>
            <div class="record-text">
              <h3>Beneficios Anteriores</h3>
              <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="record-count">06</div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-7">
    <div class="postulation-section">
      <div class="postulation">
        <%= link_to user_postulations_list_path do %>
          <h3 class="title-postulation">Postulaciones</h3>
        <% end %>
      </div>
      <div class="postulation-body">
        <p>Desde aca puedes postular, ver periodos y tus postulaciones históricas.</p>
      </div>
    </div>
  </div>
</div>
