<h1>Hola <%= current_user.first_name %></h1>


<p> <%= link_to "editar", edit_user_registration_path  %> </p>


<h4>Datos del Inscrito</h4>
<p>Nombre: <%= current_user.first_name %></p>
<p>Apellido: <%= current_user.last_name %></p>
<p>RUT: <%= current_user.last_name %></p>
<p>Teléfono Móvil: <%= current_user.mobile %></p>

<%= link_to "postulaciones", user_postulations_list_path %>

<%= link_to "Antecedentes Personales", personal_backgrounds_path %>
<%= link_to "Beneficiario", beneficiaries_path %>
<%= link_to "Grupo Familiar", family_groups_path %>
<%= link_to "Características de Faena", characterization_works_path %>
<%= link_to "Beneficios Anteriores", pamma_participations_path %> 
