<%= form_for(@pamma_participation) do |f| %>
  <% if @pamma_participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pamma_participation.errors.count, "error") %> prohibited this pamma_participation from being saved:</h2>

      <ul>
      <% @pamma_participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre Beneficiario " %><br>
    <%= f.text_field :previous_beneficiary %>
  </div>
  <div class="field">
    <%= f.label "Numero de veces" %><br>
    <%= f.number_field :number_times%>
  </div>
  <div class="field">
    <%= f.label "Tipo de beneficio" %><br>
    <%= f.collection_select :benefit_type_id, BenefitType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Estado del proyecto" %><br>
    <%= f.collection_select :project_state_type_id, ProjectStateType.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Tipo de Ayuda" %><br>
    <%= f.collection_select :support_type_id, SupportType.all, :id, :name %>
  </div>
  <%if user_signed_in?%>
    <div class="field">
      <!-- para usuario normal -->
      <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
    </div>
  <%else%>
    <%if asociave_user_signed_in?%>
      <div class="field">
        <!-- para usuario asociativo-->
        <%= f.number_field :asociative_user_id, value: "#{current_asociative_user.id}" %>
      </div>
    <%end%>
  <%end%>
  <div class="actions">
    <%= f.submit "Agregar" %>
  </div>
<% end %>
