<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="file-text">
            <h3>Beneficios Anteriores</h3>
            <p>Lorem ipsum dolor sit amet...</p>
          </div>
          <div class="file-count">06</div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center">
          <table>
            <thead>
              <tr>
                <th>Previous beneficiary</th>
                <th>Number times</th>
                <th>Benefit type</th>
                <th>Project state type</th>
                <th>Support type</th>
              </tr>
            </thead>

            <tbody>
              <% @pamma_participations.each do |pamma_participation| %>
                <tr>
                  <td><%= best_in_place pamma_participation, :previous_beneficiary, as: :input %></td>
                  <td><%= best_in_place pamma_participation, :number_times, as: :input %></td>
                  <td><%= best_in_place pamma_participation, :benefit_type_id, as: :input %></td>
                  <td><%= best_in_place pamma_participation, :project_state_type_id, as: :input %></td>
                  <td><%= best_in_place pamma_participation, :support_type_id, as: :input %></td>
                  <td><%= best_in_place pamma_participation, :user_id %></td>
                  <td class="destroy-table">
                    <%= link_to pamma_participation, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><defs><style>.cls-1{fill:#fff;}</style></defs><title>erase</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="cls-1" points="14 2.8 11.2 0 7 4.2 2.8 0 0 2.8 4.2 7 0 11.2 2.8 14 7 9.8 11.2 14 14 11.2 9.8 7 14 2.8"/></g></g></svg>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%if @pamma_participations.blank?%>
            <%= link_to new_pamma_participation_path, class: "create" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.plus{fill:#00b9b5;}</style></defs><title>plus</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="plus" points="12 4.5 7.5 4.5 7.5 0 4.5 0 4.5 4.5 0 4.5 0 7.5 4.5 7.5 4.5 12 7.5 12 7.5 7.5 12 7.5 12 4.5"/></g></g></svg>
              Agregar nuevo
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

