Postulaciones Anteriores
<%@postulations_list.each do |p|%>
  <p>Nombre Periodo de Postulaci贸n <%= p.postulation_date.name%></p>
  <p>Hito: <%= p.milestone_name%></p>
  <p>Descripci贸n <%=p.milestone_description%></p>
  <p>Fecha Inicio: <%= p.milestone_date_begin%></p>
  <p>Fecha:        <%= p.milestone_date_end%></p>
  <p>Estado Postulaci贸n:        <%= p.postulation_state.name%></p>
<% end %>

<%= link_to "Periodos de Postulaci贸n", user_postulations_postulation_period_path%>
