<div class="form-session">
  <div class="form-session-inner">
    <h3 class="title-h3 margin-text"><p>Ingresa a tus nuevos datos</p></h3>
    <span class="alert-text">Una vez guardados los cambios, recuerda avisarle al usuario.</span>
    <%= form_for @asociative_user do |f| %>
      <% if @asociative_user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this usuario from being saved:</h2>

          <ul>
          <% @asociative_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>
