<div class="col-md-2">
  <h1 class="titulo-intro">Editar Usuario Asociado</h1>
</div>

<div class="formulario col-md-10">
  <div class="steps">
    <div class="login-form">
      <div class="step-container">
        <div class="step1 step">
          <div class="step-inner">
            <h3 class="title-h3">
              <span>01</span><p> Datos personales</p>
            </h3>
            <div class="form-group">
              <div class="form-2">
                <div class="field">
                  <span class="span-label">Nombre:</span>
                  <div><%= best_in_place @asociative_user, :name, :as => :input %></div> 
                </div>
                <div class="field">
                  <span class="span-label">Rut:</span>
                  <div><%= best_in_place @asociative_user, :rut, :as => :input %></div> 
                </div>
                <div class="form-2-int">
                  <div class="field">
                    <span class="span-label">Celular:</span>
                    <%= best_in_place @asociative_user, :mobile, :as => :input %>
                  </div>
                  <div class="field">
                    <span class="span-label">Teléfono fijo:</span>
                    <%= best_in_place @asociative_user, :landline, :as => :input %>
                  </div>
                </div>
                <div class="form-2-int">
                  <div class="field">
                    <span class="span-label">Número de asociados</span>
                    <%= best_in_place @asociative_user, :partners_number, :as => :input %>
                  </div>
                  <div class="field">
                    <span class="span-label">Fecha fundación:</span>
                    <%= best_in_place @asociative_user, :date_foundation, :as => :date %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="step1 step">
          <div class="step-inner">
            <h3 class="title-h3">
              <span>02</span><p>Ubicación</p>
            </h3>
            <div class="form-group">
              <div class="form-2">
                <div class="field">
                  <span class="span-label">Dirección:</span>
                  <div><%= best_in_place @asociative_user, :name, :as => :input %></div> 
                </div>
                <div class="field">
                  <span class="span-label">Villa o población:</span>
                  <div><%= best_in_place @asociative_user, :rut, :as => :input %></div> 
                </div>
              </div>
              <div class="form-3">
                <div class="field">
                  <span class="span-label">Dirección:</span>
                  <div>
                    <%= best_in_place @asociative_user, :region_id, :as => :select, :collection => Region.all.map {|i|[i.id, i.name]} %>
                  </div> 
                </div>
                <div class="field">
                  <span class="span-label">Villa o población:</span>
                  <div>
                    <%= best_in_place @asociative_user, :province_id, :as => :select, :collection => Province.all.map {|i|[i.id, i.name]} %>
                  </div> 
                </div>
                <div class="field">
                  <span class="span-label">Villa o población:</span>
                  <div>
                    <%= best_in_place @asociative_user, :commune_id, :as => :select, :collection => Commune.all.map {|i|[i.id, i.name]} %>
                  </div> 
                </div>
              </div>
              <%= link_to 'Editar correo', edit_usuarios_asociado_path, class: "create" %>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
