<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- tengo que agregar in if can manage? -->
  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Segundo Apellido" %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label "RUT" %><br>
    <%= f.text_field :rut %>
  </div>
  <div class="field">
    <%= f.label "Dirección" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Villa o Población" %><br>
    <%= f.text_field :village %>
  </div>
  <div class="field">
    <%= f.label "Region" %><br>
    <%= f.collection_select :region_id, Region.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Provincia" %><br>
    <%= f.collection_select :province_id, Province.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Comuna" %><br>
    <%= f.collection_select :commune_id, Commune.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Celular" %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label "Correo Electrónico" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
