<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="file-text">
            <h3>Antecedentes Personales</h3>
            <p>Tus antecedentes personales van aquí.</p>
          </div>
          <div class="file-count">03</div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center flex">
          <% @characterization_works.each do |characterization_work| %>
            <div class="row no-padding">
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Nombre faena</span>
                  <%= best_in_place characterization_work, :work_name, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Localización</span>
                  <%= best_in_place characterization_work, :localization, as: :input %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Sector</span>
                  <%= best_in_place characterization_work, :sector, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Sierra</span>
                  <%= best_in_place characterization_work, :mountain_range, as: :input %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
              <div class="col-md-12 triple-row">
                <div class="input-inner triple">
                  <span class="span-label">Región</span>
                  <%= best_in_place characterization_work, :region_id, as: :input %>
                </div>
                <div class="input-inner triple">
                  <span class="span-label">Provincia</span>
                  <%= best_in_place characterization_work, :province_id, as: :input %>
                </div>
                <div class="input-inner triple">
                  <span class="span-label">Comuna</span>
                  <%= best_in_place characterization_work, :commune_id, as: :input %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Coordenada UTM Norte</span>
                  <%= best_in_place characterization_work, :utm_north_coordinate, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Coordenada UTM Este</span>
                  <%= best_in_place characterization_work, :utm_east_coordinate, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Poder Comprador</span>
                  <%= best_in_place characterization_work, :buyer_power, as: :input %>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Distancia en Kms</span>
                  <%= best_in_place characterization_work, :distance, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Distrito Minero</span>
                  <%= best_in_place characterization_work, :mining_district, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Número de Trabajadores</span>
                  <%= best_in_place characterization_work, :number_workers, as: :input %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
               <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Actividad</span>
                  <%= best_in_place characterization_work, :owner_type_id , as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Constitución Propiedad Minera</span>
                  <%= best_in_place characterization_work, :mining_properties_constitution_type_id, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Tipo de Explotación</span>
                  <%= best_in_place characterization_work, :operation_type_id, as: :input %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Principal Mineral Extraído</span>
                  <%= best_in_place characterization_work, :extracted_mineral_type_id , as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Planes o Información Disponible</span>
                  <%= best_in_place characterization_work, :mining_information_available_type_id, as: :input %>
                </div>
              </div>
            </div>
            


          <% end %>

          <%if @characterization_works.blank?%>
            <%= link_to 'New Personal background', new_characterization_work_path %>
          <%end%>
        </div>
      </div>      
    </div>
  </div>
</div>