<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="header-cont">
            <div class="pull-left">
              <%= link_to root_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.47 15.85"><defs><style>.cls-1{fill:#fff;}</style></defs><title>left</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M5.76,2.17.07,7.77a.22.22,0,0,0,0,.31l5.69,5.6A.13.13,0,0,0,6,13.6V10c0-.16-.07-.25-.22-.4L4.17,8c-.07-.07-.07-.11,0-.18L5.76,6.27C5.92,6.12,6,6,6,5.87V2.26a.13.13,0,0,0-.22-.09"/><path class="cls-1" d="M16.24,0,8.43,7.77a.22.22,0,0,0,0,.31l7.81,7.72a.13.13,0,0,0,.22-.09V12.1c0-.16-.07-.25-.22-.4L12.54,8c-.07-.07-.07-.11,0-.18l3.71-3.68c.16-.16.22-.25.22-.4V.14A.13.13,0,0,0,16.24,0"/></g></g></svg>
                volver
              <% end %>
            </div>
            <div class="pull-right">
              <div class="file-text">
                <h3>Características de Faena</h3>
                <p>Lorem ipsum dolor sit amet...</p>
              </div>
              <div class="file-count"><p>05</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center flex">
          <% @characterization_works.each do |characterization_work| %>
            <div class="row no-padding">
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Nombre faena</span>
                  <%= best_in_place characterization_work, :work_name, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Localización</span>
                  <%= best_in_place characterization_work, :localization, as: :input %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Sector</span>
                  <%= best_in_place characterization_work, :sector, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Sierra</span>
                  <%= best_in_place characterization_work, :mountain_range, as: :input %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
              <div class="col-md-12 triple-row">
                <div class="input-inner triple">
                  <span class="span-label">Región</span>
                  <%= best_in_place characterization_work, :region_id, :type => :select, :collection => Region.all.map {|i|[i.id, i.name]}%>
                </div>
                <div class="input-inner triple">
                  <span class="span-label">Provincia</span>
                  <%= best_in_place characterization_work, :province_id, :type => :select, :collection => Province.all.map {|i|[i.id, i.name]}%>
                </div>
                <div class="input-inner triple">
                  <span class="span-label">Comuna</span>
                  <%= best_in_place characterization_work, :commune_id, :type => :select, :collection => Commune.all.map {|i|[i.id, i.name]} %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Coordenada UTM Norte</span>
                  <%= best_in_place characterization_work, :utm_north_coordinate, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Coordenada UTM Este</span>
                  <%= best_in_place characterization_work, :utm_east_coordinate, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Poder Comprador</span>
                  <%= best_in_place characterization_work, :buyer_power, as: :input %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Distancia en Kms</span>
                  <%= best_in_place characterization_work, :distance, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Distrito Minero</span>
                  <%= best_in_place characterization_work, :mining_district, as: :input %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Número de Trabajadores</span>
                  <%= best_in_place characterization_work, :number_workers, as: :input %>
                </div>
              </div>
              <div class="col-md-12 linea"></div>
               <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Actividad</span>
                  <%= best_in_place characterization_work, :owner_type_id , :type => :select, :collection => OwnerType.all.map {|i|[i.id, i.name]} %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Constitución Propiedad Minera</span>
                  <%= best_in_place characterization_work, :mining_properties_constitution_type_id, :type => :select, :collection => MiningPropertiesConstitutionType.all.map {|i|[i.id, i.name]} %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Tipo de Explotación</span>
                  <%= best_in_place characterization_work, :operation_type_id, :type => :select, :collection => OperationType.all.map {|i|[i.id, i.name]} %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-inner">
                  <span class="span-label">Principal Mineral Extraído</span>
                  <%= best_in_place characterization_work, :extracted_mineral_type_id , :type => :select, :collection => ExtractedMineralType.all.map {|i|[i.id, i.name]} %>
                </div>
                <div class="input-inner">
                  <span class="span-label">Planes o Información Disponible</span>
                  <%= best_in_place characterization_work, :mining_information_available_type_id, :type => :select, :collection => MiningInformationAvailableType.all.map {|i|[i.id, i.name]} %>
                </div>
              </div>
            </div>



          <% end %>

          <%if @characterization_works.blank?%>
            <%= link_to new_characterization_work_path, class: "create" do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.plus{fill:#00b9b5;}</style></defs><title>plus</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="plus" points="12 4.5 7.5 4.5 7.5 0 4.5 0 4.5 4.5 0 4.5 0 7.5 4.5 7.5 4.5 12 7.5 12 7.5 7.5 12 7.5 12 4.5"/></g></g></svg>
              Agregar nuevo
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
