<p id="notice"><%= notice %></p>

<p>
  <strong>Work name:</strong>
  <%= @characterization_work.work_name %>
</p>

<p>
  <strong>Localization:</strong>
  <%= @characterization_work.localization %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @characterization_work.sector %>
</p>

<p>
  <strong>Mountain range:</strong>
  <%= @characterization_work.mountain_range %>
</p>

<p>
  <strong>Region:</strong>
  <%= @characterization_work.region_id %>
</p>

<p>
  <strong>Province:</strong>
  <%= @characterization_work.province_id %>
</p>

<p>
  <strong>Commune:</strong>
  <%= @characterization_work.commune_id %>
</p>

<p>
  <strong>Utm north coordinate:</strong>
  <%= @characterization_work.utm_north_coordinate %>
</p>

<p>
  <strong>Utm east coordinate:</strong>
  <%= @characterization_work.utm_east_coordinate %>
</p>

<p>
  <strong>Buyer power:</strong>
  <%= @characterization_work.buyer_power %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @characterization_work.distance %>
</p>

<p>
  <strong>Mining district:</strong>
  <%= @characterization_work.mining_district %>
</p>

<p>
  <strong>Number workers:</strong>
  <%= @characterization_work.number_workers %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @characterization_work.owner_type_id %>
</p>

<p>
  <strong>Mining properties constitution type:</strong>
  <%= @characterization_work.mining_properties_constitution_type_id %>
</p>

<p>
  <strong>Operation type:</strong>
  <%= @characterization_work.operation_type_id %>
</p>

<p>
  <strong>Extracted mineral type:</strong>
  <%= @characterization_work.extracted_mineral_type_id %>
</p>

<p>
  <strong>Mining information available type:</strong>
  <%= @characterization_work.mining_information_available_type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @characterization_work.user_id %>
</p>

<p>
  <strong>Asociative user:</strong>
  <%= @characterization_work.asociative_user_id %>
</p>

<%= link_to 'Edit', edit_characterization_work_path(@characterization_work) %> |
<%= link_to 'Back', characterization_works_path %>
