<div class="row">
  <div class="col-md-12">
    <div class="inner-file">
      <div class="header-file">
        <div class="col-md-8 center">
          <div class="file-text">
            <h3>Antecedentes Personales</h3>
            <p>Tus antecedentes personales van aquí.</p>
          </div>
          <div class="file-count">03</div>
        </div>
      </div>
      <div class="body-file">
        <div class="col-md-8 center flex">
          <% @personal_backgrounds.each do |personal_background| %>
            <div class="col-md-6">
              <div class="input-inner">
                <span class="span-label">Escolaridad</span>
                <%= best_in_place personal_background, :scholarship_type_id, as: :input %>
              </div>
              <div class="input-inner">
                <span class="span-label">Previsión</span>
                <%= best_in_place personal_background, :retirement_system_type_id, as: :input %>
              </div>
              <div class="input-inner">
                <span class="span-label">Actividad</span>
                <%= best_in_place personal_background, :activity_type_id, as: :input %>
              </div>
              <div class="input-inner">
                <span class="span-label">Otra Capacitación Recibida</span>
                <%= best_in_place personal_background, :training_type_id, as: :input %>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="inner-title">¿Posee Ficha Social?</h3>
              <div class="input-inner">
                <span class="span-label">Estado</span>
                <%= best_in_place personal_background, :social_record_status_type_id, as: :input %>
              </div>
              <div class="input-inner">
                <span class="span-label">Puntaje</span>
                <%= best_in_place personal_background, :score, as: :input %>
              </div>
              <div class="input-inner">
                <span class="span-label">Última Encuesta</span>
                <%= best_in_place personal_background, :last_poll, as: :input %>
              </div>
            </div>
          <% end %>

          <%if @personal_backgrounds.blank?%>
            <%= link_to 'New Personal background', new_personal_background_path %>
          <%end%>
        </div>
      </div>      
    </div>
  </div>
</div>