<!DOCTYPE html>
<html>
<head>
  <title>Pamma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <header data-turbolinks-permanent="true">
    <div class="filter"></div>
    <div class="header-inner-container">
      <div class="index">
        <div class="logo-container">
          <%= link_to root_path do %>
            <%= image_tag("logo-ministerio.png", :class => "logo") %>
          <% end %>
        </div>
        <h2 class="txt-logo">Programa de asistencia y modernización de la mineria artesanal</h2>
      </div>
      <div class="status-user">
        <% if user_signed_in?%>
          <div class="current-row">
            <%= current_user.first_name %>
            <%= link_to destroy_user_session_path, :class => "current", method: :delete do%>
              Salir
            <% end %>
          </div>
        <% elsif asociative_user_signed_in? %>
          <div class="current-row">
            <%= current_asociative_user.email %>
            <%= link_to destroy_asociative_user_session_path, :class => "current", method: :delete do%>
              Salir
            <% end %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="current-row">
            <%= current_admin.email %>
            <%= link_to destroy_admin_session_path, :class => "current", method: :delete do%>
              Salir
            <% end %>
          </div>
        <% else %>
          <div class="current-row">
            <p class="current">¿Tienes cuenta?</p>
            <button class="current-button" id="login-button">Ingresa</button>
          </div>

          <div class="login-row-header" id="login-row-header">
            <div class="close-login" id="close-login">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.62 51.62"><defs><style>.cls-1{fill:#e93c46;}</style></defs><title>close</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><polygon class="cls-1" points="41.72 0 25.81 15.91 9.9 0 0 9.9 15.91 25.81 0 41.72 9.9 51.62 25.81 35.71 41.72 51.62 51.62 41.72 35.71 25.81 51.62 9.9 41.72 0"/></g></g></svg>
            </div>
            <div class="login-user">
              <%= link_to "Entrar como ficha individual", new_user_session_path, :class => "button-individual" %>
            </div>
            <div class="login-user-asociative">
              <%= link_to "Entrar como ficha asociativa", new_asociative_user_session_path, :class => "button-individual" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </header>

  <main class="layout-content">
    <%= yield %>
  </main>
  <footer>
    <div class="footer">
      <div class="logo-footer-container">
        <%= image_tag("logo-footer.png", :class => "logo") %>
      </div>
    </div>
  </footer>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


</body>
</html>
