<!DOCTYPE html>
<html>
<head>
  <title>Pamma</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <header data-turbolinks-permanent="true">
    <div class="mdl-layout__header-row">
      <div class="index">
        <div class="logo-container">
          <%= image_tag("logo-ministerio.png", :class => "logo") %>
        </div>
        <h2 class="txt-logo">Programa de asistencia y modernización de la mineria artesanal</h2>
      </div>
      <div class="status-user">
        <% if user_signed_in?%>
          <%= current_user.first_name %>
          <%= link_to destroy_user_session_path, :class => "current", method: :delete do%>
            Salir
          <% end %>
        <% end %>
      </div>
    </div>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <main class="mdl-layout__content">
    <%= yield %>
  </main>
  <footer>
    <div class="mdl-layout__header-row">
      <div class="logo-footer-container">
        <%= image_tag("logo-footer.png", :class => "logo") %>
      </div>
    </div>
  </footer>

</body>
</html>
