<div class="mdl-cell mdl-cell--6-col">
  <h2 class="title">Registrate</h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

<<<<<<< HEAD
  <div class="field">
    <%= f.label "Nombre:" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Apellido Paterno:" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Apellido Materno:" %><br />
    <%= f.text_field :surname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Rut:" %><br />
    <%= f.text_field :rut, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Fecha Nacimiento:" %><br />
    <%= f.date_field :birthdate, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Género:" %>
    <%= f.collection_select :gender_id, GenderType.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Estado Civil:" %>
    <%= f.collection_select :civil_status_id, CivilStatusType.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Dirección:" %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Población o Villa:" %><br />
    <%= f.text_field :village, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Teléfono Movil:" %><br />
    <%= f.text_field :mobile, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Teléfono Fijo:" %><br />
    <%= f.text_field :landline, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Región:" %>
    <%= f.collection_select :region_id, Region.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Provincia:" %>
    <%= f.collection_select :province_id, Province.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Comuna:" %>
    <%= f.collection_select :commune_id, Commune.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label "Nombre Sociedad Minera a la que Pertenece:" %><br />
    <%= f.text_field :minning_society_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "RUT Sociedad Minera a la que Pertenece:" %><br />
    <%= f.text_field :minning_society_rut, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
=======
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
>>>>>>> origin/login

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
  
</div>
